<!-- new book info form -->

<div id="bookinfo_form" class="container">
	<table class="table table-bordered table-hover table-condensed">
		<tr ng-if="error_alert">
			<td colspan="2">
				<span>{{error_alert}}</span>	
			</td>
		</tr>
		<tr ng-if="bookinfo.id">
			<th>ID</th>
			<td class="col-md-8 col-lg-8" colspan="2">
				<span editable-text="bookinfo.id" e-form="titleform" e-formclass="col-md-9 col-lg-9" e-name="id" edit-disabled="true" >
					{{ bookinfo.id || 'empty' }}
				</span>
			</td>
		</tr>
		<tr>  
			<th class="col-md-3 col-lg-3">
				Title
			</th>
			<td class="col-md-8 col-lg-8">
				<span editable-text="bookinfo.title" e-required e-formclass="col-md-8 col-lg-8" e-name="title" e-form="bookinfo_form" >
					{{ bookinfo.title || 'empty' }}
				</span>
			</td>
		</tr>
		<tr>
			<th class="col-md-3 col-lg-3">
				Author
			</th>
			<td class="col-md-8 col-lg-8">
				<span editable-text="bookinfo.author" e-formclass="col-md-8 col-lg-8" e-name="author" e-form="bookinfo_form" onbeforesave="checkName($data, user.id)" >
					{{ bookinfo.author || 'empty' }}
				</span>
			</td>
		</tr>
		<tr>  
			<th class="col-md-3 col-lg-3">
				ISBN
			</th>
			<td class="col-md-8 col-lg-8">
				<span editable-text="bookinfo.isbn" e-formclass="col-md-8 col-lg-8" e-name="isbn" e-form="bookinfo_form" onbeforesave="checkName($data, user.id)">
					{{ bookinfo.isbn || 'empty' }}
				</span>
			</td>
		</tr>
		<tr>
			<th>
				Cover Image
			</hd>
			<td>
				<div class="row">
					<div class="col-md-9">
						<div class="well">
							<div>
								<div style="float:right;">
									<!-- <button ng-click="btn_upload()">Upload</button>
									<button ng-click="btn_clean()">Remove all</button> -->
								</div>
								<input type="file" id="file1" accept="image/*" />
							</div>
							<div ng-repeat="file in files" style="margin-top: 20px;border-bottom-color: antiquewhite;border-bottom-style: double;">
								<div>
									<span>{{file.name}}</span>
									<div style="float:right;">
										<span>{{file.humanSize}}</span>
										<a ng-click="btn_remove(file)" title="Remove from list to be uploaded"><i class="icon-remove"></i></a>
									</div>
								</div>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="{{file.loaded*100/file.size}}" aria-valuemin="0" aria-valuemax="100" style="width:{{file.loaded*100/file.size}}%;">
										<span class="sr-only">{{file.loaded*100/file.size}}% Complete</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
		<tr>  
			<th class="col-md-3 col-lg-3">
				Description
			</th>
			<td class="col-md-8 col-lg-8">
				<div editable-textarea="bookinfo.description" e-formclass="col-md-8 col-lg-8" e-name="description" e-form="bookinfo_form" onbeforesave="checkName($data, user.id)" e-rows="20" e-cols="1000">
					{{ bookinfo.description || 'empty' }}
				</div>
			</td>
		</tr>
		
		
		<tr>  
			<th class="col-md-3 col-lg-3">
				Category
			</th>
			<td class="col-md-8 col-lg-8">
				<p editable-checklist="bookinfo.categories" e-formclass="col-md-8 col-lg-8" e-ng-options="c.value as c.text for c in book.categories" e-name="categories" e-form="bookinfo_form" onbeforesave="checkName($data, user.id)" e-class="categories">
					{{showCategories()}}
				</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">

				<form editable-form name="bookinfo_form" shown="true" onbeforesave="saveBookInfo($data, bookinfo.id)" ng-show="bookinfo_form.$visible" class="form-buttons form-inline"> 
				<span editable-text="bookinfo.temp_cover_hash" e-style="display:none" e-name="cover_image_hash" e-form="bookinfo_form" >
								</span>
					<button type="submit" ng-disabled="bookinfo_form.$waiting" class="btn btn-primary">
						save
					</button>
					<!-- <button type="button" ng-if="bookinfo.id" ng-disabled="bookinfo_form.$waiting" ng-click="bookinfo_form.$cancel()" class="btn btn-default">
						cancel
					</button> -->
					<a class="btn btn-default" ng-href="/bookinfo">Cancel</a>
				</form>
				<div class="button" ng-show="!bookinfo_form.$visible">
					<a class="btn btn-default" ng-href="/bookinfo/{{bookinfo.id}}">edit</a>
					<button class="btn btn-success" ng-click="showNewForm()">Add New</button>
				</div> 
			</td>
		</tr>

	</table>
</div>