<div class="container-fluid">
  <h1>Angular Timeline</h1>
  <button ng-click="addEvent()">Add New Event</button>
  <button ng-click="leftAlign()">Left Side</button>
  <button ng-click="rightAlign()">Right Side</button>
  <button ng-click="defaultAlign()">Alternate Sides</button>
  <br/>
  <br/>
  <md-tabs class="md-primary"  md-dynamic-height="" md-border-bottom="">
  <md-tab label="Read">
  <md-content  class="md-padding">
  <timeline>
    <!-- can also hard-code to side="left" or side="right" -->
    <timeline-event ng-repeat="event in events track by $index" side="{{side}}">
      <!-- uses angular-scroll-animate to give it some pop -->
      <timeline-badge class="{{event.badgeClass}} timeline-hidden"
                      when-visible="animateElementIn" when-not-visible="animateElementOut">
        <i class="glyphicon {{event.badgeIconClass}}" ></i>
      </timeline-badge>

      <!-- uses angular-scroll-animate to give it some pop -->
      <timeline-panel class="{{event.badgeClass}} timeline-hidden"
                      when-visible="animateElementIn" when-not-visible="animateElementOut">
            
        <timeline-heading>
          <h4>{{event.title}}</h4>

          <p ng-if="event.when">
            <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{event.when}}</small>
          </p>
          <p ng-if="event.titleContentHtml" ng-bind-html="event.titleContentHtml">
          </p>

        </timeline-heading>
        <p ng-if="event.content" ng-bind="event.content"></p>
        <p ng-bind-html="event.contentHtml"></p>
        <timeline-footer ng-if="event.footerContentHtml">
          <span ng-bind-html="event.footerContentHtml"></span>
        </timeline-footer>
        <div>
        
      </span>
      </div>

      </timeline-panel>
    </timeline-event>

  </timeline>
  </md-content>
  </md-tab>
  <md-tab label="Edit">
    <md-content  class="md-padding">

      <table border="2px" class="editorOuterTable" data-as-sortable="board.dragControlListeners" data-ng-model="events">
        <tr data-ng-repeat="item in events" data-as-sortable-item>
          <td data-as-sortable-item-handle>
            <div>
              <span>{{item.title}}</span>
            </div> 
            <div> 
              <span>{{item.content}}</span>
            </div>
          </td>

        </tr>
      </table>


  <timeline>
    <!-- can also hard-code to side="left" or side="right" -->
    <timeline-event ng-repeat="event in events track by $index" side="{{side}}">
      <!-- uses angular-scroll-animate to give it some pop -->
      <timeline-badge class="{{event.badgeClass}} timeline-hidden"
                      when-visible="animateElementIn" when-not-visible="animateElementOut" ng-click="addEvent($index)"  ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
        <i class="glyphicon {{(!hovering)?event.badgeIconClass:'glyphicon-plus'}}" ></i>
      </timeline-badge>

      <!-- uses angular-scroll-animate to give it some pop -->
      <timeline-panel class="{{event.badgeClass}} timeline-hidden"
                      when-visible="animateElementIn" when-not-visible="animateElementOut">
        <form editable-form name="editableForm" >             
        <timeline-heading>
          <h4 editable-text="event.title" e-name="title">{{event.title}}</h4>

          <p ng-if="event.when">
            <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{event.when}}</small>
          </p>
          <p ng-if="event.titleContentHtml" ng-bind-html="event.titleContentHtml">
          </p>

        </timeline-heading>
        <p ng-if="event.content" editable-textarea="event.content" ng-bind="event.content" e-rows="10" e-cols="100"></p>
        <p ng-bind-html="event.contentHtml"></p>
        <timeline-footer ng-if="event.footerContentHtml">
          <span ng-bind-html="event.footerContentHtml"></span>
        </timeline-footer>
        <div>
        <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
        Edit
        </button>
       <!-- buttons to submit / cancel form -->
        <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Cancel
        </button>
      </span>
      </div>
        </form>
      </timeline-panel>
    </timeline-event>

  </timeline>
  </md-content>
  </md-tab>
  </md-tabs>
        
</div>

