<!doctype html>
<html ng-app="pustakk-admin">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pustakk Admin console</title>
  <meta name="viewport" content="width=device-width">
  <base href="/">
  
<!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <!-- endinject -->

<!-- inject:css -->

<link rel="stylesheet" href="styles/css/app.css">

<link rel="stylesheet" href="styles/css/bootstrap.min.css">

<link rel="stylesheet" href="styles/css/font-awesome.css">

<!-- endinject -->

</head>

<body >

<style>
/*  body { background-color: aliceblue; }
  timeline-footer { background-color: aliceblue; }*/
</style>

<!-- required code for angular ui type ahead  -->


<script type="text/ng-template" id="customPopupTemplate.html">
  <div class="custom-popup-wrapper"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
    <p class="message">select location from drop down.</p>

    <ul class="dropdown-menu" role="listbox">
      <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
        ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
    </ul>
  </div>
</script>
<!-- required code for angular ui type ahead ends -->


  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Pustak Admin</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/bookinfo"><i class="fa fa-home"></i> Bookinfo</a></li>
        <li><a href="/bookcopies"><i class="fa fa-shield"></i> Book copies</a></li>
        <li><a href="#about"><i class="fa fa-shield"></i> User</a></li>
      </ul>
    </div>
  </nav>

  <div id="main">


<div ng-view></div>
</div>

<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/checklist-model/checklist-model.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<!-- endinject -->



<!-- inject:js -->
<script src="app.js"></script>
<script src="views/bookinfo/view/edit-ctrl.js"></script>
<script src="views/bookinfo/add/uploader.min.js"></script>
<script src="views/bookinfo/add/add-ctrl.js"></script>
<script src="views/bookcopies/view/edit-ctrl.js"></script>
<script src="views/bookcopies/add/add-ctrl.js"></script>
<script src="views/bookinfo/bookinfo-ctrl.js"></script>
<script src="views/bookcopies/bookcopies-ctrl.js"></script>
<!-- endinject -->

</body>
</html>
