<!-- 
<script id="searchbox.tpl.html" type="text/ng-template">
      <input type="text" placeholder="Search">
    </script>

     <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
        <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
    </ui-gmap-google-map> -->

<ul ng-if="isAuthenticated()">
  <button ng-click="logout()" style="float: right;">Logout</button>
</ul>
<div>
    <div id="searchBoxParent"></div>
    <div>
        <ui-gmap-google-map
                center="map.center"
                zoom="map.zoom"
                dragging="map.dragging"
                bounds="map.bounds"
                events="map.events"
                options="map.options"
                pan="true"
                control="map.control"
                >
            <!--to add as a map control -->
            <ui-gmap-search-box options="searchbox.options" template="searchbox.template"
                            events="searchbox.events" position="searchbox.position"></ui-gmap-search-box>

            <!--to add to a parent div-->
            <!-- <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events" parentdiv="searchbox.parentdiv"></ui-gmap-search-box> -->


            <ui-gmap-markers idkey="map.idkey" models="map.markers" coords="'self'" icon="'icon'"
                             click="'onClicked'"></ui-gmap-markers>
            <ui-gmap-window show="window.show" coords="window.coords" idkey="window.place_id" templateurl="window.templateurl"
                            templateparameter="window.templateparameter" options="window.options"
                            closeClick='window.closeClick()' ng-cloak>

            </ui-gmap-window>


        </ui-gmap-google-map>
        <button type="button" ng-click="toggleMap()">Toggle Visibility</button>
        <span ng-bind="searchbox.options.visible"></span>
    </div>
</div>