<div class="container">
<h2 class="row">
	Last five book additions
</h2>
<table class="table table-bordered table-hover table-condensed row">
	<tr class="row">
		<th>ID</th>
		<th>Title</th>
		<th>Author</th>
		<th>ISBN</th>
		<th>Category/Genre</th>
		<th>Edit</th>
	</tr>
	<tr ng-repeat="book in latestaddition track by book.id" class="row">
		<td>{{book.id}}</td>
		<td>{{book.title}}</td>
		<td>{{book.author}}</td>
		<td>{{book.isbn}}</td>
		<td>{{book.categories}}</td>
		<td>
			<a class="btn btn-default" ng-href="/bookinfo/{{book.id}}">edit</a>
		</td>
	</tr>

</table>
<br>
<a class="btn btn-primary row" ng-href="/bookinfo/add">Add new book Info</a>
</div>