body {
  padding-top: 51px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  /* font-family: 'Open Sans', sans-serif; */ }

ul {
  list-style: none; }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px; }

.site-background {
  background-color: #f3f3f3; }

.remove-padding {
  padding: 0 0 0 0; }

#left-pane .nav {
  border-right-color: #e7e7e7;
  border-right-style: solid;
  border-right-width: 1px;
  padding-left: 15px;
  height: 100%;
  background-color: #fff;
  font-size: 12px;
  padding-top: 10px; }
  #left-pane .nav li {
    line-height: 0.9; }
  #left-pane .nav a {
    width: inherit;
    padding-left: 30px;
    color: #000000; }
  #left-pane .nav .active a {
    color: #337ab7;
    background-color: #F19F4D; }

.caption {
  height: 90px;
  overflow: hidden; }
  .caption h4 {
    white-space: nowrap; }

.thumbnail {
  padding: 0;
  border: 0;
  margin: 0 0 0 0; }
  .thumbnail img {
    width: 100%;
    margin-left: 0px; }
  .thumbnail .caption-full {
    padding: 9px;
    color: #333; }
  .thumbnail .caption {
    padding: 0px; }
  .thumbnail h5 {
    margin-top: 3px;
    margin-bottom: 0px; }
    .thumbnail h5 a {
      color: #167ac6; }
  .thumbnail .author-text-size {
    font-size: 11px; }
  .thumbnail a {
    text-decoration: none;
    color: #000000; }
  .thumbnail p {
    margin-bottom: 1px; }

@media screen and (max-width: 768px) {
  #cstm-nav-searchbar {
    width: 300px; }
  .main-list-area {
    margin-right: 3%;
    margin-left: 3%; } }

@media screen and (min-width: 769) and (max-width: 990px) {
  #cstm-nav-searchbar {
    width: 370px; } }

@media screen and (min-width: 990px) {
  #cstm-nav-searchbar {
    width: 600px; } }

@media (max-width: 767px) {
  .navbar-header {
    float: none;
    text-align: center; }
  .navbar-left, .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block;
    border-width: 0px;
    float: left;
    background-color: transparent; }
    .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: transparent !important; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    /*margin-top: 7.5px;*/ }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important; }
  #signin_mobile.navbar-brand {
    float: right;
    margin-right: 15px;
    font-size: 14px; } }

.slick-next:before {
  content: url(/img/next-arrow.png); }

.slick-prev:before {
  content: url(/img/prev-arrow.png); }

.mobile-navigation-list {
  padding: 10px;
  width: 100%;
  margin: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#main-content-outer {
  padding-right: 0px; }
  #main-content-outer #section_row {
    margin-left: 3%;
    margin-right: 3%;
    background-color: #fff;
    box-shadow: 1px 2px 1px #e7e7e7; }
  #main-content-outer .main-list-area h3 {
    margin-top: 10px;
    margin-bottom: 5px; }
  #main-content-outer .main-list-area hr {
    margin-bottom: 0px; }
  #main-content-outer .main-list-area .list-header-padding {
    padding-left: 5px;
    padding-right: 0; }
  #main-content-outer .main-list-area .slider-padding {
    padding-left: 7px !important;
    padding-right: 7px !important; }
  #main-content-outer .main-list-area .row {
    margin-left: 0;
    margin-right: 0; }

.cstm-sidenav-right a {
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.cstm-sidenav-right.nav li {
  text-align: left;
  width: 100%; }
  .cstm-sidenav-right.nav li a {
    padding: 10px 10px; }

/*weird 2px margin in bootstrap css, hence removing it */
.nav-pills > li + li {
  margin-left: 0px; }

#right-pane {
  padding-left: 30px; }

#right-pane {
  float: right; }
  #right-pane.affix, #right-pane.affix-bottom, #right-pane.affix-top {
    right: 40px;
    margin-top: 0;
    margin-bottom: 0; }
  #right-pane.affix-bottom {
    position: fixed; }
  #right-pane.affix-top {
    position: fixed; }

#left-pane {
  float: left; }
  #left-pane.affix, #left-pane.affix-bottom, #left-pane.affix-top {
    left: 0px;
    margin-top: 0;
    margin-bottom: 0; }
  #left-pane.affix-bottom {
    position: fixed; }
  #left-pane.affix-top {
    position: fixed; }

#home-scrollspy.navbar {
  margin-top: 10px; }

.slick-prev {
  top: 35%;
  left: -1%;
  z-index: 1;
  width: 30px;
  height: 50px;
  background-color: #f5f5f5;
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 1px;
  box-shadow: 0px 1px 1px #e7e7e7; }

.slick-next {
  top: 35%;
  right: -1.4%;
  z-index: 1;
  width: 30px;
  height: 50px;
  background-color: #f5f5f5;
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 1px;
  box-shadow: 1px 1px 1px #e7e7e7; }

/*==================
 FOOTER SECTION
 ====================*/
footer {
  margin-top: 50px;
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 1px; }

#aa-footer {
  background-color: #222;
  display: inline;
  float: left;
  width: 100%; }
  #aa-footer .row {
    background-color: #222; }
  #aa-footer ul {
    padding: 0;
    margin: 0;
    list-style: none; }

#aa-footer .aa-footer-top {
  display: inline;
  float: left;
  padding: 30px 0;
  width: 100%;
  min-height: 100px; }

#aa-footer .aa-footer-top .aa-footer-top-area {
  display: inline;
  float: left;
  width: 100%; }

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget {
  display: block; }

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget h3 {
  color: #fff; }

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a {
  color: #888;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a:hover, #aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a:focus {
  color: #fff; }

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget address p {
  margin-bottom: 5px;
  color: #888; }

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget address p span {
  margin-right: 5px; }

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-social a {
  border: 1px solid #888;
  color: #888;
  display: inline-block;
  font-size: 18px;
  margin-right: 8px;
  padding: 2px 0;
  text-align: center;
  width: 35px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-social a:hover {
  color: #fff;
  border-color: #fff; }

#aa-footer .aa-footer-bottom {
  border-top: 1px solid #333;
  display: inline;
  float: left;
  padding: 15px 0;
  width: 100%; }

#aa-footer .aa-footer-bottom .aa-footer-bottom-area {
  display: inline;
  float: left;
  width: 100%; }

#aa-footer .aa-footer-bottom .aa-footer-bottom-area > p {
  color: #888;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0; }

#aa-footer .aa-footer-bottom .aa-footer-bottom-area > p a {
  color: #888;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

#aa-footer .aa-footer-bottom .aa-footer-bottom-area .aa-footer-payment {
  float: right; }

#aa-footer .aa-footer-bottom .aa-footer-bottom-area .aa-footer-payment span {
  color: #888;
  margin-left: 8px; }

#aa-footer .aa-footer-bottom .aa-footer-bottom-area .aa-footer-payment span:hover {
  color: #fff; }

/*#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget {
margin-bottom: 30px;
text-align: center;
}*/
/************FOOTER ENDS*************/
.nopadding {
  padding: 0 !important; }

.nomargin {
  margin: 0 !important; }

.navbar-default.navbar-fixed-top.desktop-only {
  background-color: #fff;
  color: #000000;
  margin-bottom: 0px; }
  .navbar-default.navbar-fixed-top.desktop-only .navbar-brand {
    color: #000000;
    font-size: 2em; }
    .navbar-default.navbar-fixed-top.desktop-only .navbar-brand:focus, .navbar-default.navbar-fixed-top.desktop-only .navbar-brand:hover {
      text-decoration: none;
      color: #000000; }

.mobile-only.navbar-fixed-top {
  background: #232D32; }
  .mobile-only.navbar-fixed-top .navbar-nav {
    margin: 0; }
  .mobile-only.navbar-fixed-top .navbar-form {
    margin-top: 0px;
    margin-bottom: 0px; }
  .mobile-only.navbar-fixed-top.navbar-default .navbar-brand {
    color: #fff; }

.document-title {
  display: none; }

#aa-product-details .aa-product-details-area .aa-product-details-content {
  margin: 0 auto;
  width: 100%; }

.aa-product-details-content .aa-product-view-slider .simpleLens-big-image-container {
  width: 100%; }

.aa-product-details-content .aa-product-view-slider .simpleLens-big-image-container .simpleLens-lens-image {
  width: 100%; }

.aa-product-details-content .aa-product-view-slider .simpleLens-big-image {
  height: 300px; }

/*==================
 PRODUCT DETAILS SECTION
 ====================*/
#aa-product-details {
  display: inline;
  float: left;
  width: 100%; }
  #aa-product-details .aa-product-details-area {
    display: inline;
    float: left;
    padding: 30px 0 0;
    width: 100%; }
    #aa-product-details .aa-product-details-area .aa-product-details-content {
      margin: 0 auto;
      width: 80%; }
      #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-slider {
        padding: 10px;
        text-align: center; }
        #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-slider .simpleLens-container {
          margin: 0 auto; }
      #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content {
        padding-bottom: 10px;
        padding-right: 10px; }
        #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-view-size a {
          border: 1px solid #ddd;
          display: inline-block;
          font-size: 14px;
          letter-spacing: 0.5px;
          margin-bottom: 5px;
          margin-right: 8px;
          padding: 5px 10px;
          transition: all 0.5s ease 0s; }
        #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-quantity {
          margin-top: 10px; }
          #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-quantity form {
            display: inline-block; }
            #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-quantity form select {
              height: 25px;
              width: 40px; }
          #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-quantity .aa-prod-category {
            display: inline-block;
            margin-left: 15px; }
            #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-quantity .aa-prod-category a {
              color: #ff6666;
              font-size: 14px; }
        #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-view-bottom {
          border-top: 1px solid #ddd;
          margin-top: 10px;
          padding-top: 10px; }
          #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-view-bottom a {
            margin-right: 10px; }
        #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-color-tag a {
          display: inline-block;
          height: 20px;
          margin-bottom: 10px;
          margin-right: 10px;
          width: 30px; }
        #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-color-tag .aa-color-green {
          background-color: #008000; }
        #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-color-tag .aa-color-yellow {
          background-color: #ffff00; }
        #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-color-tag .aa-color-pink {
          background-color: #ffc0cb; }
        #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-color-tag .aa-color-black {
          background-color: #000; }
        #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-color-tag .aa-color-white {
          background-color: #fff;
          border: 1px solid #ccc; }
    #aa-product-details .aa-product-details-area .aa-product-details-bottom {
      display: inline;
      float: left;
      width: 100%;
      margin-top: 20px;
      border-top: 1px solid #ccc; }
      #aa-product-details .aa-product-details-area .aa-product-details-bottom .nav-tabs {
        text-align: center; }
        #aa-product-details .aa-product-details-area .aa-product-details-bottom .nav-tabs li {
          display: inline-block;
          float: none;
          margin-bottom: 0px; }
          #aa-product-details .aa-product-details-area .aa-product-details-bottom .nav-tabs li.active a {
            color: #333333; }
          #aa-product-details .aa-product-details-area .aa-product-details-bottom .nav-tabs li a {
            border-radius: 0;
            border: none;
            font-size: 18px; }
            #aa-product-details .aa-product-details-area .aa-product-details-bottom .nav-tabs li a:hover, #aa-product-details .aa-product-details-area .aa-product-details-bottom .nav-tabs li a:focus {
              background-color: transparent;
              color: #333333;
              border: none; }
      #aa-product-details .aa-product-details-area .aa-product-details-bottom #description {
        padding: 20px 10px; }
        #aa-product-details .aa-product-details-area .aa-product-details-bottom #description ul {
          margin-bottom: 10px;
          padding-left: 25px; }
          #aa-product-details .aa-product-details-area .aa-product-details-bottom #description ul li {
            color: #555;
            list-style: outside none square;
            margin-top: 5px; }
      #aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-product-review-area {
        display: inline;
        float: left;
        padding: 20px 0;
        width: 100%; }
        #aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-product-review-area > h4 {
          font-size: 25px;
          margin-bottom: 20px;
          text-transform: uppercase; }
        #aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-product-review-area .aa-review-nav li {
          margin-bottom: 20px; }
          #aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-product-review-area .aa-review-nav li .media-object {
            display: block;
            height: 60px;
            width: 60px; }
          #aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-product-review-area .aa-review-nav li .media-body {
            border: 1px solid #ccc;
            padding: 10px; }
            #aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-product-review-area .aa-review-nav li .media-body .media-heading {
              font-size: 16px; }
            #aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-product-review-area .aa-review-nav li .media-body .aa-product-rating span {
              color: #ff6600; }
      #aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form {
        margin-top: 20px; }
        #aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form label {
          color: #555; }
        #aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form textarea {
          height: 200px; }
        #aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form input {
          height: 45px; }
        #aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form .aa-review-submit {
          border-radius: 0;
          font-size: 18px;
          height: 45px;
          text-transform: uppercase;
          width: 100%;
          background-color: #333333;
          color: #fff;
          border-color: #333333;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
          #aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form .aa-review-submit:hover {
            background-color: #000;
            border-color: #000; }
        #aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form .form-control {
          box-shadow: none;
          border-radius: 0; }
          #aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form .form-control:focus {
            box-shadow: none;
            border-color: #333333; }
    #aa-product-details .aa-product-details-area .aa-product-related-item {
      display: inline;
      float: left;
      width: 100%; }
      #aa-product-details .aa-product-details-area .aa-product-related-item h3 {
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;
        padding-bottom: 20px;
        text-align: center; }
      #aa-product-details .aa-product-details-area .aa-product-related-item .slick-prev, #aa-product-details .aa-product-details-area .aa-product-related-item .slick-next {
        top: -65px; }
      #aa-product-details .aa-product-details-area .aa-product-related-item .slick-dots {
        display: none !important; }

.aa-add-to-cart-btn {
  border: 1px solid #ccc;
  color: #555;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 5px;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 0.5s ease 0s; }
  .aa-add-to-cart-btn span {
    margin-right: 5px; }
  .aa-add-to-cart-btn:hover, .aa-add-to-cart-btn:focus {
    color: #333333;
    border-color: #333333; }

/*End Product-details page*/
/*==================
 CHECKOUT PAGE
 ====================*/
#checkout {
  display: inline;
  float: left;
  width: 100%; }
  #checkout .checkout-area {
    display: inline;
    float: left;
    padding: 30px 0;
    width: 100%; }
    #checkout .checkout-area .checkout-left {
      display: inline;
      float: left;
      width: 100%; }
      #checkout .checkout-area .checkout-left .panel-group {
        /* .panel-default{
					border-radius: 0;
					.panel-heading{
						//background-color: transparent;
						padding:0;            
						.panel-title {           
							font-size: 18px;            
							padding: 20px 15px;
							a{
								display: block;
								color: $theme-color;
							}
						}
					}
				}  */ }
        #checkout .checkout-area .checkout-left .panel-group .aa-checkout-coupon .aa-coupon-code {
          border: 1px solid #e5e5e5;
          color: #505050;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 2px;
          line-height: 25px;
          margin-bottom: 20px;
          margin-right: 20px;
          min-width: 250px;
          padding: 12px 30px;
          text-decoration: none;
          text-transform: uppercase;
          width: 100%; }
        #checkout .checkout-area .checkout-left .panel-group .aa-checkout-coupon input[type="submit"] {
          font-size: 14px; }
        #checkout .checkout-area .checkout-left .panel-group .aa-checkout-book-details input[type="text"],
        #checkout .checkout-area .checkout-left .panel-group .aa-checkout-book-details input[type="password"] {
          border: 1px solid #ccc;
          font-size: 14px;
          height: 40px;
          margin-bottom: 15px;
          padding: 10px;
          width: 100%; }
        #checkout .checkout-area .checkout-left .panel-group .aa-checkout-book-details label {
          cursor: pointer;
          font-weight: normal;
          margin-top: 8px; }
        #checkout .checkout-area .checkout-left .panel-group .aa-checkout-book-details input[type="checkbox"] {
          margin-top: 5px; }
        #checkout .checkout-area .checkout-left .panel-group .aa-checkout-book-details button {
          font-size: 14px;
          padding: 8px 20px;
          margin-right: 5px;
          float: left; }
        #checkout .checkout-area .checkout-left .panel-group .aa-checkout-book-details .aa-lost-password {
          color: #555;
          float: left;
          margin-top: 10px;
          width: 100%; }
          #checkout .checkout-area .checkout-left .panel-group .aa-checkout-book-details .aa-lost-password a {
            color: #555; }
        #checkout .checkout-area .checkout-left .panel-group .aa-checkout-billaddress .aa-checkout-single-bill {
          display: inline;
          width: 100%;
          margin-bottom: 15px;
          float: left; }
          #checkout .checkout-area .checkout-left .panel-group .aa-checkout-billaddress .aa-checkout-single-bill input {
            border: 1px solid #ccc;
            height: 40px;
            padding: 10px;
            width: 100%; }
          #checkout .checkout-area .checkout-left .panel-group .aa-checkout-billaddress .aa-checkout-single-bill textarea {
            border: 1px solid #ccc;
            color: #999;
            padding: 10px;
            width: 100%; }
          #checkout .checkout-area .checkout-left .panel-group .aa-checkout-billaddress .aa-checkout-single-bill select {
            border: 1px solid #ccc;
            color: #999;
            height: 40px;
            padding: 10px;
            width: 100%; }
    #checkout .checkout-area .checkout-right {
      display: inline;
      float: left;
      width: 100%; }
      #checkout .checkout-area .checkout-right h4 {
        margin-top: 0px;
        color: #333333; }
      #checkout .checkout-area .checkout-right .aa-order-summary-area {
        margin-bottom: 30px; }
        #checkout .checkout-area .checkout-right .aa-order-summary-area .table {
          border: 1px solid #ccc; }
          #checkout .checkout-area .checkout-right .aa-order-summary-area .table thead tr th {
            border: 1px solid #ccc;
            text-align: center; }
          #checkout .checkout-area .checkout-right .aa-order-summary-area .table tbody tr td {
            border-right: 1px solid #ccc;
            text-align: center; }
            #checkout .checkout-area .checkout-right .aa-order-summary-area .table tbody tr td strong {
              margin-left: 5px;
              font-size: 14px; }
          #checkout .checkout-area .checkout-right .aa-order-summary-area .table tfoot tr th {
            border-right: 1px solid #ccc;
            text-align: center; }
          #checkout .checkout-area .checkout-right .aa-order-summary-area .table tfoot tr td {
            text-align: center; }
      #checkout .checkout-area .checkout-right .aa-payment-method {
        border: 1px solid #ccc;
        padding: 15px; }
        #checkout .checkout-area .checkout-right .aa-payment-method label {
          width: 100%;
          font-weight: normal; }
        #checkout .checkout-area .checkout-right .aa-payment-method img {
          margin-top: -10px;
          width: 80%; }
        #checkout .checkout-area .checkout-right .aa-payment-method input[type="submit"] {
          display: block;
          margin-top: 15px;
          padding: 8px 12px;
          width: 100%; }

.cover_image_thumb {
  max-height: 140px; }

/*End checkout page*/
/*Modal login*/
#login-modal {
  /*End Modal login*/ }
  #login-modal .modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0; }
  #login-modal .modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px; }
  #login-modal .modal-body {
    position: relative;
    padding: 5px 15px 5px 15px; }
  #login-modal .modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px; }
  #login-modal .checkbox {
    margin-bottom: 0px; }
  #login-modal .btn {
    border-radius: 0px; }
  #login-modal .btn:focus,
  #login-modal .btn:active:focus,
  #login-modal .btn.active:focus,
  #login-modal .btn.focus,
  #login-modal .btn:active.focus,
  #login-modal .btn.active.focus {
    outline: none; }
  #login-modal .btn-lg, #login-modal .btn-group-lg > .btn {
    border-radius: 0px; }
  #login-modal .btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6; }
  #login-modal .btn-link:hover, #login-modal .btn-link:focus {
    color: #2c3e50;
    text-decoration: none; }
  #login-modal .glyphicon {
    top: 0px; }
  #login-modal .form-control {
    border-radius: 0px; }
  #login-modal #div-login-msg, #login-modal #div-lost-msg, #login-modal #div-register-msg {
    font-size: x-large;
    margin-bottom: 10px; }
  #login-modal .brand-header {
    color: #000000;
    font-size: 2em;
    float: left;
    text-decoration: none; }
    #login-modal .brand-header:focus, #login-modal .brand-header:hover {
      text-decoration: none;
      color: #000000; }

/*for fixing the outline which is visible post button/link click*/
.modal-open .modal, .btn:focus {
  outline: none !important; }

.aa-browse-btn {
  background-color: #333333;
  display: inline-block;
  font-size: 16px;
  padding: 12px 18px;
  color: #fff;
  border: 1px solid #333333;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .aa-browse-btn span {
    margin-left: 5px; }
  .aa-browse-btn:hover, .aa-browse-btn:focus {
    background-color: #fff;
    color: #333333; }

.pace .pace-progress {
  position: relative; }

.navbar-fixed-top .dropdown-menu li :last-child {
  margin-right: 0; }

.navbar-fixed-top .dropdown-menu li a, .navbar-fixed-top .dropdown-menu li div {
  padding: 3px 20px;
  min-height: 0;
  cursor: pointer; }

.navbar-fixed-top .dropdown-menu li .glyphicon {
  font-size: 12px; }

#verified_user_links {
  display: none; }

html, body, .container-table {
  height: 100%; }

#login-page.container-table {
  display: table; }
  #login-page.container-table .vertical-center-row {
    display: table-cell;
    vertical-align: middle; }
  #login-page.container-table .login-box {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f3f3f3;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

.brand-logo {
  color: #000000;
  font-size: 2em; }
  .brand-logo:focus, .brand-logo:hover {
    text-decoration: none;
    color: #000000; }
