.categories label {
  border: groove;
  float: left; }

.searchresults.author {
  font-size: 12px; }

.custom-popup-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f9f9f9; }

.custom-popup-wrapper > .message {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #868686; }

.custom-popup-wrapper > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none; }

.btn-group-wrap {
  text-align: center; }

div.btn-group {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block; }

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }
