// Cart view section
section#checkout
  .container
    .row
      .col-md-12
        .checkout-area
          form(action='')
            .row
              .col-md-8
                .checkout-left
                  #accordion.panel-group
                    // Login section
                    .panel.panel-default.aa-checkout-login
                      .panel-heading
                        h4.panel-title
                          a.no-ajaxy(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                            | Client Login
                      |                       
                      #collapseTwo.panel-collapse.collapse
                        .panel-body
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatibus modi pariatur qui reprehenderit asperiores fugiat deleniti praesentium enim incidunt.
                          |                           
                          input(type='text', placeholder='Username or email')
                          |                           
                          input(type='password', placeholder='Password')
                          |                           
                          button.aa-browse-btn(type='submit') Login
                          |                           
                          label(for='rememberme')
                            input#rememberme(type='checkbox')
                            |  Remember me
                          |                           
                          p.aa-lost-password
                            a(href='#') Lost your password?
                    // Billing Details
                    .panel.panel-default.aa-checkout-billaddress
                      .panel-heading
                        h4.panel-title
                          a.no-ajaxy(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                            | Billing Details
                      |                       
                      #collapseThree.panel-collapse.collapse
                        .panel-body
                          .row
                            .col-md-6
                              .aa-checkout-single-bill
                                input(type='text', placeholder='First Name*')
                            |                             
                            .col-md-6
                              .aa-checkout-single-bill
                                input(type='text', placeholder='Last Name*')
                          |  
                          |                           
                          .row
                            .col-md-12
                              .aa-checkout-single-bill
                                input(type='text', placeholder='Company name')
                          |   
                          |                           
                          .row
                            .col-md-6
                              .aa-checkout-single-bill
                                input(type='email', placeholder='Email Address*')
                            |                             
                            .col-md-6
                              .aa-checkout-single-bill
                                input(type='tel', placeholder='Phone*')
                          |  
                          |                           
                          .row
                            .col-md-12
                              .aa-checkout-single-bill
                                textarea(cols='8', rows='3') Address*
                          |    
                          |                           
                          .row
                            .col-md-12
                              .aa-checkout-single-bill
                                select
                                  option(value='0') Select Your Country
                                  |                                   
                                  option(value='1') Australia
                                  |                                   
                                  option(value='2') Afganistan
                                  |                                   
                                  option(value='3') Bangladesh
                                  |                                   
                                  option(value='4') Belgium
                                  |                                   
                                  option(value='5') Brazil
                                  |                                   
                                  option(value='6') Canada
                                  |                                   
                                  option(value='7') China
                                  |                                   
                                  option(value='8') Denmark
                                  |                                   
                                  option(value='9') Egypt
                                  |                                   
                                  option(value='10') India
                                  |                                   
                                  option(value='11') Iran
                                  |                                   
                                  option(value='12') Israel
                                  |                                   
                                  option(value='13') Mexico
                                  |                                   
                                  option(value='14') UAE
                                  |                                   
                                  option(value='15') UK
                                  |                                   
                                  option(value='16') USA
                          |                           
                          .row
                            .col-md-6
                              .aa-checkout-single-bill
                                input(type='text', placeholder='Appartment, Suite etc.')
                            |                             
                            .col-md-6
                              .aa-checkout-single-bill
                                input(type='text', placeholder='City / Town*')
                          |    
                          |                           
                          .row
                            .col-md-6
                              .aa-checkout-single-bill
                                input(type='text', placeholder='District*')
                            |                             
                            .col-md-6
                              .aa-checkout-single-bill
                                input(type='text', placeholder='Postcode / ZIP*')
                    // Shipping Address
                    .panel.panel-default.aa-checkout-billaddress
                      .panel-heading
                        h4.panel-title
                          a.no-ajaxy(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
                            | Shippping Address
                      |                       
                      #collapseFour.panel-collapse.collapse
                        .panel-body
                          .row
                            .col-md-6
                              .aa-checkout-single-bill
                                input(type='text', placeholder='First Name*')
                            |                             
                            .col-md-6
                              .aa-checkout-single-bill
                                input(type='text', placeholder='Last Name*')
                          |  
                          |                           
                          .row
                            .col-md-12
                              .aa-checkout-single-bill
                                input(type='text', placeholder='Company name')
                          |   
                          |                           
                          .row
                            .col-md-6
                              .aa-checkout-single-bill
                                input(type='email', placeholder='Email Address*')
                            |                             
                            .col-md-6
                              .aa-checkout-single-bill
                                input(type='tel', placeholder='Phone*')
                          |  
                          |                           
                          .row
                            .col-md-12
                              .aa-checkout-single-bill
                                textarea(cols='8', rows='3') Address*
                          |    
                          |                           
                          .row
                            .col-md-12
                              .aa-checkout-single-bill
                                select
                                  option(value='0') Select Your Country
                                  |                                   
                                  option(value='1') Australia
                                  |                                   
                                  option(value='2') Afganistan
                                  |                                   
                                  option(value='3') Bangladesh
                                  |                                   
                                  option(value='4') Belgium
                                  |                                   
                                  option(value='5') Brazil
                                  |                                   
                                  option(value='6') Canada
                                  |                                   
                                  option(value='7') China
                                  |                                   
                                  option(value='8') Denmark
                                  |                                   
                                  option(value='9') Egypt
                                  |                                   
                                  option(value='10') India
                                  |                                   
                                  option(value='11') Iran
                                  |                                   
                                  option(value='12') Israel
                                  |                                   
                                  option(value='13') Mexico
                                  |                                   
                                  option(value='14') UAE
                                  |                                   
                                  option(value='15') UK
                                  |                                   
                                  option(value='16') USA
                          |                           
                          .row
                            .col-md-6
                              .aa-checkout-single-bill
                                input(type='text', placeholder='Appartment, Suite etc.')
                            |                             
                            .col-md-6
                              .aa-checkout-single-bill
                                input(type='text', placeholder='City / Town*')
                          |    
                          |                           
                          .row
                            .col-md-6
                              .aa-checkout-single-bill
                                input(type='text', placeholder='District*')
                            |                             
                            .col-md-6
                              .aa-checkout-single-bill
                                input(type='text', placeholder='Postcode / ZIP*')
                          |  
                          |                            
                          .row
                            .col-md-12
                              .aa-checkout-single-bill
                                textarea(cols='8', rows='3') Special Notes
              |               
              .col-md-4
                .checkout-right
                  h4 Order Summary
                  |                   
                  .aa-order-summary-area
                    table.table.table-responsive
                      thead
                        tr
                          th Product
                          |                           
                          th Total
                      |                       
                      tbody
                        tr
                          td
                            | T-Shirt 
                            strong  x  1
                          |                           
                          td $150
                        |                         
                        tr
                          td
                            | Polo T-Shirt 
                            strong  x  1
                          |                           
                          td $250
                        |                         
                        tr
                          td
                            | Shoes 
                            strong  x  1
                          |                           
                          td $350
                      |                       
                      tfoot
                        tr
                          th Subtotal
                          |                           
                          td $750
                        |                          
                        tr
                          th Tax
                          |                           
                          td $35
                        |                          
                        tr
                          th Total
                          |                           
                          td $785
                  |                   
                  h4 Payment Method
                  |                   
                  .aa-payment-method
                    label(for='cashdelivery')
                      input#cashdelivery(type='radio', name='optionsRadios')
                      |  Cash on Delivery
                    |                     
                    label(for='paypal')
                      input#paypal(type='radio', name='optionsRadios', checked='')
                      |  Via Paypal
                    |                     
                    img(src='https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg', border='0', alt='PayPal Acceptance Mark')
                    |     
                    |                     
                    input.aa-browse-btn(type='submit', value='Place Order')
// / Cart view section
