// Page Content
#section_row.row
	#main-list-area.col-md-10.col-sm-12.main-list-area
		for category,index in cat_data
			div(id='section#{index+1}')
				.row
					.col-md-4.col-sm-4.list-header-padding
						h3= category.cat_name
				.row.popular-books-slider
					for product in category.products	
						.col-sm-2.col-lg-2.col-md-2.slider-padding
							a.ajaxify(href='product?it=#{product.id}')
								.thumbnail
									img(src=product.img, alt='')
									.caption
										h5
											a(href='')= product.title
										p
											a.author-text-size(href='')= product.author
										p
											button.btn.btn-default.btn-sm(type='button') Get It Now
			//- dont add hr tag after the last section								
			if 	index<cat_data.length-1							
				hr
			
		// <hr>
		br
	#right-pane.col-md-2.hidden-xs.hidden-sm(role='complementary')
		nav#home-scrollspy.navbar
			// <div class="span3" >
			ul#sidebar_side.nav.nav-pills.cstm-sidenav-right
				for category,index in cat_data
					li
						a.no-ajaxy(href='#section#{index+1}', title='#{category.cat_name}')= category.cat_name