<!-- <button ng-click="authenticate('facebook')">Sign in with Facebook</button>
<button ng-click="authenticate('google')">Sign in with Google</button>
 -->
<!-- <ul ng-if="isAuthenticated()">
  <button ng-click="logout()">Logout</button>
  <li><a href="/logout">Logout</a></li>
</ul>
 -->
<div class="container">
	<div class="row">
		<form class="form-signin mg-btm">
    	<h3 class="heading-desc">
		<!-- <button type="button" class="close pull-right" aria-hidden="true">×</button> -->
		Login</h3>
		<div class="social-box">
			<div class="row mg-btm">
             <div class="col-md-12">
                <a href class="btn btn-block btn-social btn-facebook btn-lg" ng-click="authenticate('facebook')">
                  <span class="fa fa-facebook"></span>     
                  <span>Login with Facebook</span>
                </a>
			</div>
			</div>
			<div class="row">
			<div class="col-md-12">
                <a href class="btn btn-block btn-social btn-google btn-lg" ng-click="authenticate('google')">
                  <span class="fa fa-google"></span>     
                  <span>Login with Google</span>
                </a>
            </div>
          </div>
		</div>
		<div class="main">	
        
		<input type="text" class="form-control" placeholder="Email" autofocus>
        <input type="password" class="form-control" placeholder="Password">
		 
        Are you a business? <a href=""> Get started here</a>
		<span class="clearfix"></span>	
        </div>
		<div class="login-footer">
		<div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="left-section">
								<a href="">Forgot your password?</a>
								<a href="">Sign up now</a>
							</div>
                        </div>
                        <div class="col-xs-6 col-md-6 pull-right">
                            <button type="submit" class="btn btn-large btn-danger pull-right">Login</button>
                        </div>
                    </div>
		
		</div>
      </form>
	</div>
</div>