<div id="bookcopy_form" class="container" ng-if="!mNewForm">
	<table class="table table-bordered table-hover table-condensed">
		<tr>
			<th>ID</th>
			<td class="col-md-8 col-lg-8" colspan="2">
				<span editable-text="bookcopy.id" e-form="titleform" e-formclass="col-md-9 col-lg-9" e-name="id" edit-disabled="true" >
					{{ bookcopy.id || 'empty' }}
				</span>
			</td>
		</tr>
		<tr>
			<th>DisplayID</th>
			<td class="col-md-8 col-lg-8" colspan="2">
				<span editable-text="bookcopy.display_id" e-form="displayidform" e-formclass="col-md-9 col-lg-9" e-name="displayid" edit-disabled="true" >
					{{ bookcopy.display_id || 'empty' }}
				</span>
			</td>
		</tr>

		<tr>  
			<th class="col-md-3 col-lg-3">
				Book Status
			</th>
			<td class="col-md-8 col-lg-8">
				<span editable-select="bookcopy.bookstatus.id" e-formclass="col-md-8 col-lg-8" e-name="book_status_id" e-form="rowform" e-ng-options="value.id as value.text for value in statuses" onbeforesave="checkName($data, user.id)">
				{{ bookcopy.bookstatus.text || 'empty' }}
				</span>
			</td>
		</tr>
		<tr>  
			<th class="col-md-3 col-lg-3">
				Book Title
			</th>
			<script type="text/ng-template" id="customTemplate.html">
				<a>
					<div>
						<span ng-bind-html="match.model.title | uibTypeaheadHighlight:query"></span><br/>
						<span class="searchresults author" ng-bind-html="match.model.author | uibTypeaheadHighlight:query"><span>
					</div>
				</a>
			</script>
			<script type="text/ng-template" id="customPopupTemplate.html">
				<div class="custom-popup-wrapper"
				ng-style="{top: position().top+'px', left: position().left+'px'}"
				style="display: block;"
				ng-show="isOpen() && !moveInProgress"
				aria-hidden="{{!isOpen()}}">
					<p class="message">select book from drop down.</p>

					<ul class="dropdown-menu" role="listbox">
						<li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
						ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
						<div uib-typeahead-match index="$index" match="match" query="query" template-url="'customTemplate.html'"></div>
						</li>
					</ul>
				</div>
			</script>
			<td class="col-md-8 col-lg-8">
				<input id="book_search_box" type="text" ng-model="bookcopy.bookinfo" placeholder="Search by title or author" uib-typeahead="result as result.title for result in getBookSearchResults($viewValue)" typeahead-loading="loadingTitles" typeahead-no-results="noResults" class="form-control" typeahead-popup-template-url="customPopupTemplate.html">
				<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
					<!-- <div ng-show="noResults">
						<i class="glyphicon glyphicon-remove"></i> No Results Found
					</div> -->

				<!-- <span editable-text="bookcopy.title" e-required e-formclass="col-md-8 col-lg-8" e-name="title" e-form="bookcopy_form" >
					{{ bookcopy.title || 'empty' }}
				</span> -->
			</td>
		</tr>
		<tr>  
			<th class="col-md-3 col-lg-3">
				Owner Type
			</th>
			<td class="col-md-8 col-lg-8">
				<span editable-select="bookcopy.ownertype.id" e-formclass="col-md-8 col-lg-8" e-name="owner_type_id" e-form="rowform" e-ng-options="value.id as value.type for value in ownertypes" onbeforesave="checkName($data, user.id)">
				{{ bookcopy.ownertype.text || 'empty' }}
				</span>
			</td>
		</tr>
		<tr ng-if="rowform.$data.owner_type_id !== 1">  
			<th class="col-md-3 col-lg-3">
				Owner ID
			</th>
			<td class="col-md-8 col-lg-8">
				<span editable-text="bookcopy.owner.id" e-formclass="col-md-8 col-lg-8" e-name="owner_id" e-form="rowform" onbeforesave="checkName($data, user.id)">
				{{ bookcopy.ownertype.id==1?'N.A': bookcopy.owner.id}}
				</span>
			</td>
		</tr>

		<tr>
			<td colspan=2 class="col-md-2 col-lg-2" style="white-space: nowrap">
				<!-- form -->
				<form editable-form name="rowform" onbeforesave="saveFormField($data,bookcopy.id)" ng-show="rowform.$visible" class="form-buttons form-inline">
				<div class="btn-group-wrap">
				<div class="btn-group pull-left">
					<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
						save
					</button>
					<button type="button" ng-disabled="rowform.$waiting" ng-click="cancel(rowform)" class="btn btn-default">
						cancel
					</button>
				</div>	
				</div>
				</form>
				<div class="buttons" ng-show="!rowform.$visible">
					<button type="button" class="btn btn-primary pull-left" ng-click="rowform.$show()">edit</button>
					<!-- <button type="button" class="btn btn-danger" ng-click="removeUser($index)">del</button> -->
				</div>  
			</td>
		</tr>
	</table>
	<a class="btn btn-primary" ng-href="/bookcopies">Home</a>
	<a class="btn btn-success" ng-href="/bookcopies/add">Add new book copy</a>
</div>

