<!-- new book copies form -->

<div id="bookcopies_form" class="container">
	<table class="table table-bordered table-hover table-condensed">
		<tr ng-if="error_alert">
			<td colspan="2">
				<span>{{error_alert}}</span>	
			</td>
		</tr>
		<tr ng-if='bookcopy.id'>
			<th>ID</th>
			<td class="col-md-8 col-lg-8" colspan="2">
				<span editable-text="bookcopy.id" e-form="titleform" e-formclass="col-md-9 col-lg-9" e-name="id" edit-disabled="true" >
					{{ bookcopy.id || 'empty' }}
				</span>
			</td>
		</tr>
		<tr ng-if='bookcopy.id'>
			<th>DisplayID</th>
			<td class="col-md-8 col-lg-8" colspan="2">
				<span editable-text="bookcopy.display_id" e-form="displayidform" e-formclass="col-md-9 col-lg-9" e-name="displayid" edit-disabled="true" >
					{{ bookcopy.display_id || 'empty' }}
				</span>
			</td>
		</tr>
		<tr>
			<th class="col-md-3 col-lg-3">
				Book Status
			</th>
			<td class="col-md-8 col-lg-8">
				<span editable-select="bookcopy.bookstatus.id" e-formclass="col-md-8 col-lg-8" e-name="book_status_id" e-form="bookcopy_form" e-ng-options="status.id as status.text for status in statuses" onbeforesave="checkName($data, user.id)">
				{{ bookcopy.bookstatus.text || 'empty' }}
				</span>
			</td>
		</tr>
		<tr>  
			<th class="col-md-3 col-lg-3">
				Book Title
			</th>
			<script type="text/ng-template" id="customTemplate.html">
				<a>
					<div>
						<span ng-bind-html="match.model.title | uibTypeaheadHighlight:query"></span><br/>
						<span class="searchresults author" ng-bind-html="match.model.author | uibTypeaheadHighlight:query"><span>
					</div>
				</a>
			</script>
			<script type="text/ng-template" id="customPopupTemplate.html">
				<div class="custom-popup-wrapper"
				ng-style="{top: position().top+'px', left: position().left+'px'}"
				style="display: block;"
				ng-show="isOpen() && !moveInProgress"
				aria-hidden="{{!isOpen()}}">
					<p class="message">select book from drop down.</p>

					<ul class="dropdown-menu" role="listbox">
						<li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
						ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
						<div uib-typeahead-match index="$index" match="match" query="query" template-url="'customTemplate.html'"></div>
						</li>
					</ul>
				</div>
			</script>
			<td class="col-md-8 col-lg-8">
				<input id="book_search_box" type="text" ng-model="bookcopy_form.$data.bookinfo" e-name="bookinfo" e-form="bookcopy_form" placeholder="Search by title or author" uib-typeahead="result as result.title for result in getBookSearchResults($viewValue)" typeahead-loading="loadingTitles" typeahead-no-results="noResults" class="form-control" typeahead-popup-template-url="customPopupTemplate.html" autofocus>
				<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
					<!-- <div ng-show="noResults">
						<i class="glyphicon glyphicon-remove"></i> No Results Found
					</div> -->

				<!-- <span editable-text="bookcopy.title" e-required e-formclass="col-md-8 col-lg-8" e-name="title" e-form="bookcopy_form" >
					{{ bookcopy.title || 'empty' }}
				</span> -->
			</td>
		</tr>
		<tr>  
			<th class="col-md-3 col-lg-3">
				Owner Type
			</th>
			<td class="col-md-8 col-lg-8">
				<span editable-select="bookcopy.ownertype.id" e-required e-formclass="col-md-8 col-lg-8" e-name="owner_type_id" e-form="bookcopy_form" e-ng-options="value.id as value.type for value in ownertypes" onbeforesave="checkName($data, user.id)" e-ng-change="logchange()">
				{{ bookcopy.ownertype.text || 'empty' }}
				</span>
			</td>
		</tr>
		<tr ng-if="bookcopy_form.$data.owner_type_id!=1">  
			<th class="col-md-3 col-lg-3">
				Owner ID
			</th>
			<td class="col-md-8 col-lg-8">
				<span editable-text="bookcopy.owner.id" e-formclass="col-md-8 col-lg-8" e-name="owner_id" e-form="bookcopy_form" onbeforesave="checkName($data, user.id)">
				{{ bookcopy.ownertype.id==1?'N.A': bookcopy.owner.id}}
				</span>
				<!-- <span editable-text="bookcopy.isbn" e-formclass="col-md-8 col-lg-8" e-name="isbn" e-form="bookcopy_form" onbeforesave="checkName($data, user.id)">
					{{ bookcopy.isbn || 'empty' }}
				</span> -->
			</td>
		</tr>
		
		<tr>
			<td colspan="2">

				<form editable-form name="bookcopy_form" shown="true" onbeforesave="saveBookCopy($data, bookcopy.id)" ng-show="bookcopy_form.$visible" class="form-buttons form-inline"> 
					<button type="submit" ng-disabled="bookcopy_form.$waiting" class="btn btn-primary">
						save
					</button>
					<!-- <button type="button" ng-if="bookcopy.id" ng-disabled="bookcopy_form.$waiting" ng-click="bookcopy_form.$cancel()" class="btn btn-default">
						cancel
					</button> -->
					<a class="btn btn-default" ng-href="/bookcopies">Cancel</a>
				</form>
				<div class="button" ng-show="!bookcopy_form.$visible">
					<a class="btn btn-default" ng-href="/bookcopies/{{bookcopy.id}}">edit</a>
					<button class="btn btn-success" ng-click="showNewForm()">Add New</button>
				</div> 
			</td>
		</tr>

	</table>
</div>