<div class="container">
<h2 class="row">
	Last five book additions
</h2>
<table class="table table-bordered table-hover table-condensed row">
	<tr class="row">
		<th>ID</th>
		<th>Display ID</th>
		<th>BookInfo</th>
		<th>BookStatus</th>
		<th>Owner Type</th>
		<th>Owner ID</th>
		<th>Edit</th>
	</tr>
	<tr ng-repeat="book in latestaddition track by book.id" class="row">
		<td>{{book.id}}</td>
		<td>{{book.display_id}}</td>
		<td>
			<table class="table-bordered table-hover table-condensed">
				<tr>
					<th>Id</th>
					<th>ISBN</th>
					<th>Title</th>
					<th>Author</th>
				</tr>
				<tr>
					<td>{{book.bookinfo.id}}</td>
					<td>{{book.bookinfo.isbn}}</td>
					<td>{{book.bookinfo.title}}</td>
					<td>{{book.bookinfo.author}}</td>
				</tr>	
			</table>
		</td>
		<td>{{book.bookstatus.text}}</td>
		<td>{{book.owner.type}}</td>
		<td>{{book.owner.id}}</td>
		<td>
			<a class="btn btn-default" ng-href="/bookcopies/{{book.id}}">edit</a>
		</td>
	</tr>

</table>
<br>
<a class="btn btn-primary row" ng-href="/bookcopies/add">Add new book Copy</a>
</div>