doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		|    
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		|    
		meta(name='viewport', content='width=device-width, initial-scale=1')
		|    
		meta(name='description', content='')
		|    
		meta(name='author', content='')
		|    
		title Read and Share your favourite books
		// Adding custom font family
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:600', rel='stylesheet')
		// Product view slider
		link(rel='stylesheet', type='text/css', href='css/jquery.simpleLens.css')
		//bootstrap css
		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")  
		//- bower:css
		link(rel="stylesheet", href="bower_components/slick-carousel/slick/slick.css")
		//- endinject
		//- inject:css
		link(rel="stylesheet", href="css/jquery.simpleLens.css")
		link(rel="stylesheet", href="css/style.css")
		//- endinject
	body
		// Navigation
		nav.navbar.navbar-default.navbar-fixed-top.hidden-xs.visible-sm.visible-md.visible-lg.cstm-no-margin.desktop-only(role='navigation')
			.container
				// Brand and toggle get grouped for better mobile display
				.navbar-header
					a.navbar-brand(href='/') Pustakk
				// Collect the nav links, forms, and other content for toggling
				#navbar-collapsable.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							form.navbar-form(role='search')
								#cstm-nav-searchbar.input-group
									input.form-control(type='text', placeholder='Search', name='q')
									|                         
									.input-group-btn
										button.btn.btn-default(type='submit')
											i.glyphicon.glyphicon-search
					|             
					ul.nav.navbar-nav.navbar-right
						li
							p.navbar-btn
								a(href='#')
									button.btn.btn-default(type='button') Add a Book
						|                
						li
							a#signin_desktop.no-ajaxy.btn(data-toggle='modal', href='#login-modal') Sign In
				// /.navbar-collapse
			// /.container
		|    
		nav.navbar.navbar-default.navbar-fixed-top.visible-xs.hidden-sm.hidden-md.hidden-lg.cstm-no-margin.mobile-only(role='navigation')
			.container
				// Brand and toggle get grouped for better mobile display
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapsable-mobile')
						span.sr-only Toggle navigation
						|                
						span.icon-bar
						|                
						span.icon-bar
						|                
						span.icon-bar
					|             
					a.navbar-brand(href='/') Pustakk
					|             
					a#signin_mobile.no-ajaxy.btn.navbar-brand(data-toggle='modal', href='#login-modal') Sign In
				// Collect the nav links, forms, and other content for toggling
				#navbar-collapsable-mobile.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							form.navbar-form(role='search')
								.input-group
									input.form-control(type='text', placeholder='Search', name='q')
									|                         
									.input-group-btn
										button.btn.btn-default(type='submit')
											i.glyphicon.glyphicon-search
					|             
					ul.mobile-navigation-list
						li
							p.navbar-btn
								a(href='#')
									button.btn.btn-default(type='button') Add a Book
						|                
						li
							a(href='#') Sign In
				// /.navbar-collapse
			// /.container
		// End Navigation
		// BEGIN # MODAL LOGIN
		#login-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display: none;')
			.modal-dialog
				.modal-content
					.modal-header(align='center')
						div
							a.brand-header(href='/') Pustakk
						|                
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span.glyphicon.glyphicon-remove(aria-hidden='true')
					// Begin # DIV Form
					#div-forms
						// Begin # Login Form
						form#login-form(action='/api/user/login', method='post')
							.modal-body
								#div-login-msg
									#icon-login-msg.glyphicon.glyphicon-chevron-right
									|                    
									span#text-login-msg Login
								|                 
								input#login_username.form-control(type='text', placeholder='Email/Mobile', required='')
								|                 
								input#login_password.form-control(type='password', placeholder='Password', required='')
								|                 
								.checkbox
									label
										input(type='checkbox')
										|  Remember me
							|             
							.modal-footer
								div
									button.btn.btn-primary.btn-lg.btn-block(type='submit')
										| Login
										.ripples.buttonRipples
											span.ripplesCircle
								|             
								div
									button#login_lost_btn.btn.btn-link(type='button') Lost Password?
									|              
									button#login_register_btn.btn.btn-link(type='button') Register
						// End # Login Form
						// Begin | Lost Password Form
						form#lost-form(style='display:none;')
							.modal-body
								#div-lost-msg
									#icon-lost-msg.glyphicon.glyphicon-chevron-right
									|        
									span#text-lost-msg Type your e-mail/mobile.
								|     
								input#lost_email.form-control(type='text', placeholder='E-Mail/Mobile', required='')
							|  
							.modal-footer
								div
									button.btn.btn-primary.btn-lg.btn-block(type='submit') Send
								|  
								div
									button#lost_login_btn.btn.btn-link(type='button') Log In
									|     
									button#lost_register_btn.btn.btn-link(type='button') Register
						// End | Lost Password Form
						// Begin | Register Form
						form#register-form(style='display:none;')
							.modal-body
								#div-register-msg
									#icon-register-msg.glyphicon.glyphicon-chevron-right
									|     
									span#text-register-msg Register an account.
								|  
								input#register_username.form-control(type='text', placeholder='Mobile', required='')
								|  
								input#register_email.form-control(type='text', placeholder='E-Mail', required='')
								|  
								input#register_password.form-control(type='password', placeholder='Password', required='')
							.modal-footer
								div
									button.btn.btn-primary.btn-lg.btn-block(type='submit') Register
								|  
								div
									button#register_login_btn.btn.btn-link(type='button') Log In
									|     
									button#register_lost_btn.btn.btn-link(type='button') Lost Password?
						// End | Register Form
					// End # DIV Form
		// END # MODAL LOGIN
		// Page Content
		.container-fluid.site-background
			.row.nomargin
				//
					<div class="col-md-2 hidden-xs hidden-sm" id="left-pane">
					<div class="hidden-xs hidden-sm" id="left-pane">
					<nav class="navbar">
					<ul class="nav col-md-2 col-sm-2 hidden-xs hidden-sm" >
					<li class="active"><a href="#dropdowns"><i class="icon-chevron-right"></i> Home</a></li>
					<li><a href="#buttonGroups"><i class="icon-chevron-right"></i> MyReads</a></li>
					<li><a href="#buttonDropdowns"><i class="icon-chevron-right"></i> Wishlist</a></li>
					<li><a href="#navs"><i class="icon-chevron-right"></i> Navs</a></li>
					<li><a href="#navbar"><i class="icon-chevron-right"></i> Navbar</a></li>
					<li><a href="#breadcrumbs"><i class="icon-chevron-right"></i> Breadcrumbs</a></li>
					<li><a href="#pagination"><i class="icon-chevron-right"></i> Pagination</a></li>
					<li><a href="#labels-badges"><i class="icon-chevron-right"></i> Labels and badges</a></li>
					<li><a href="#typography"><i class="icon-chevron-right"></i> Typography</a></li>
					<li><a href="#thumbnails"><i class="icon-chevron-right"></i> Thumbnails</a></li>
					<li><a href="#alerts"><i class="icon-chevron-right"></i> Alerts</a></li>
					<li><a href="#progress"><i class="icon-chevron-right"></i> Progress bars</a></li>
					<li><a href="#media"><i class="icon-chevron-right"></i> Media object</a></li>
					<li><a href="#misc"><i class="icon-chevron-right"></i> Misc</a></li>
					</ul>
					</nav>
					</div>
			|          
			#main-content-outer.col-md-12.col-sm-12.nopadding
				.row.nomargin.nopadding
					#section_row.row
						#main-list-area.col-md-10.col-sm-12.main-list-area
							#section1
								.row
									.col-md-4.col-sm-4.list-header-padding
										h3 Popular Reads
								|                         
								.row.popular-books-slider
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										a(href='product-detail.html')
											.thumbnail
												img(src='img/placeholder75x100.png', alt='')
												|                                     
												.caption
													h5
														a(href='') First Product
													|                                        
													p
														a.author-text-size(href='') Chetan Bhagatfefefefefefefef
													|                                        
													p
														button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Second Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Third Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fourth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fifth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Sixth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
							|                      
							hr
							|                      
							#section2
								.row
									.col-md-4.list-header-padding
										h3 100 Must Reads
								|                         
								.row.popular-books-slider
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') First Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Second Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Third Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fourth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fifth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Sixth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
							|                      
							hr
							|                      
							#section3
								.row
									.col-md-4.col-sm-4.list-header-padding
										h3 Popular Reads
								|                         
								.row.popular-books-slider
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') First Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Second Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Third Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fourth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fifth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Sixth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
							|                      
							hr
							|                      
							#section4
								.row
									.col-md-4.col-sm-4.list-header-padding
										h3 Popular Reads
								|                         
								.row.popular-books-slider
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') First Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Second Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Third Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fourth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fifth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Sixth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
							|                      
							hr
							|                      
							#section5
								.row
									.col-md-4.col-sm-4.list-header-padding
										h3 Popular Reads
								|                         
								.row.popular-books-slider
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') First Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Second Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Third Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fourth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fifth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Sixth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
							|                      
							hr
							|                      
							#section6
								.row
									.col-md-4.col-sm-4.list-header-padding
										h3 Popular Reads
								|                         
								.row.popular-books-slider
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') First Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Second Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Third Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fourth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fifth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Sixth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
							|                      
							hr
							|                      
							#section7
								.row
									.col-md-4.col-sm-4.list-header-padding
										h3 Popular Reads
								|                         
								.row.popular-books-slider
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') First Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Second Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Third Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fourth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fifth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Sixth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
							|                      
							hr
							|                      
							#section8
								.row
									.col-md-4.col-sm-4.list-header-padding
										h3 Popular Reads
								|                         
								.row.popular-books-slider
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') First Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Second Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Third Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fourth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fifth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Sixth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
							|                      
							hr
							|                      
							#section9
								.row
									.col-md-4.col-sm-4.list-header-padding
										h3 Popular Reads
								|                         
								.row.popular-books-slider
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') First Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Second Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Third Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fourth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fifth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Sixth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
							|                      
							hr
							|                      
							#section10
								.row
									.col-md-4.col-sm-4.list-header-padding
										h3 Popular Reads
								|                         
								.row.popular-books-slider
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') First Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Second Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Third Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fourth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fifth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Sixth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
							|                      
							hr
							|                      
							#section11
								.row
									.col-md-4.col-sm-4.list-header-padding
										h3 Popular Reads
								|                         
								.row.popular-books-slider
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') First Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Second Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Third Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fourth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fifth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Sixth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
							|                      
							hr
							|                      
							#section12
								.row
									.col-md-4.col-sm-4.list-header-padding
										h3 Popular Reads
								|                         
								.row.popular-books-slider
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') First Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Second Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Third Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fourth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fifth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Sixth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
							|                      
							hr
							|                      
							#section13
								.row
									.col-md-4.col-sm-4.list-header-padding
										h3 Popular Reads
								|                         
								.row.popular-books-slider
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') First Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Second Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Third Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fourth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Fifth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
									|                            
									.col-sm-2.col-lg-2.col-md-2.slider-padding
										.thumbnail
											img(src='img/placeholder75x100.png', alt='')
											|                                  
											.caption
												h5
													a(href='') Sixth Product
												|                                     
												p
													a.author-text-size(href='') Chetan Bhagatfefefefefefefef
												|                                     
												p
													button.btn.btn-default.btn-sm(type='button') Get It Now
							|                      
							br
							|                      
							br
							// <hr>
						|                   
						#right-pane.col-md-2.hidden-xs.hidden-sm(role='complementary', data-spy='affix')
							nav#home-scrollspy.navbar
								// <div class="span3" >
								ul#sidebar_side.nav.nav-pills.cstm-sidenav-right
									li.active
										a.no-ajaxy(href='#section1', title='Popular Reads') Popular Reads
									|                            
									li
										a.no-ajaxy(href='#section2', title='100 Must Reads Books check ellipsification') 100 Must Reads Books check ellipsification
									|                            
									li
										a.no-ajaxy(href='#section3', title='Popular Reads') Popular Reads
									|                            
									li
										a.no-ajaxy(href='#section4', title='100 Must Reads Books check ellipsification') 100 Must Reads Books check ellipsification
									|                            
									li
										a.no-ajaxy(href='#section5', title='Popular Reads') Popular Reads
									|                            
									li
										a.no-ajaxy(href='#section6', title='100 Must Reads Books check ellipsification') 100 Must Reads Books check ellipsification
									|                            
									li
										a.no-ajaxy(href='#section7', title='Popular Reads') Popular Reads
									|                            
									li
										a.no-ajaxy(href='#section8', title='100 Must Reads Books check ellipsification') 100 Must Reads Books check ellipsification
									|                            
									li
										a.no-ajaxy(href='#section9', title='Popular Reads') Popular Reads
									|                            
									li
										a.no-ajaxy(href='#section10', title='100 Must Reads Books check ellipsification') 100 Must Reads Books check ellipsification
									|                            
									li
										a.no-ajaxy(href='#section11', title='100 Must Reads Books check ellipsification') 100 Must Reads Books check ellipsification
									|                            
									li
										a.no-ajaxy(href='#section12', title='Popular Reads') Popular Reads
									|                            
									li
										a.no-ajaxy(href='#section13', title='100 Must Reads Books check ellipsification') 100 Must Reads Books check ellipsification
								// </div>
			// footer
			footer#aa-footer
				// footer bottom
				.aa-footer-top
					div
						.row.nomargin
							.col-md-10.col-md-offset-1
								.aa-footer-top-area
									.row.nomargin
										.col-md-3.col-sm-6
											.aa-footer-widget
												h3 Main Menu
												|                                     
												ul.aa-footer-nav
													li
														a(href='#') Home
													|                                        
													li
														a(href='#') Our Services
													|                                        
													li
														a(href='#') Our Products
													|                                        
													li
														a(href='#') About Us
													|                                        
													li
														a(href='#') Contact Us
										|                               
										.col-md-3.col-sm-6
											.aa-footer-widget
												.aa-footer-widget
													h3 Knowledge Base
													|                                        
													ul.aa-footer-nav
														li
															a(href='#') Delivery
														|                                           
														li
															a(href='#') Returns
														|                                           
														li
															a(href='#') Services
														|                                           
														li
															a(href='#') Discount
														|                                           
														li
															a(href='#') Special Offer
										|                               
										.col-md-3.col-sm-6
											.aa-footer-widget
												.aa-footer-widget
													h3 Useful Links
													|                                        
													ul.aa-footer-nav
														li
															a(href='#') Site Map
														|                                           
														li
															a(href='#') Search
														|                                           
														li
															a(href='#') Advanced Search
														|                                           
														li
															a(href='#') Suppliers
														|                                           
														li
															a(href='#') FAQ
										|                               
										.col-md-3.col-sm-6
											.aa-footer-widget
												.aa-footer-widget
													h3 Contact Us
													|                                        
													address
														p  25 Astor Pl, NY 10003, USA
														|                                           
														p
															span.glyphicon.glyphicon-earphone
															| +1 212-982-4589
														|                                           
														p
															span.glyphicon.glyphicon-envelope
															| dailyshop@gmail.com
													//
														<div class="aa-footer-social">
														<a href="#"><span class="fa fa-facebook"></span></a>
														<a href="#"><span class="fa fa-twitter"></span></a>
														<a href="#"><span class="fa fa-google-plus"></span></a>
														<a href="#"><span class="fa fa-youtube"></span></a>
														</div>
			// footer ends
		// /.container
		// jQuery
		script(src='js/jquery.js')
		// Bootstrap Core JavaScript
		script(src='js/bootstrap.min.js')
		// Slick slider
		script(type='text/javascript', src='slick/slick.min.js')
		// jQuery ScrollTo Plugin
		script(src='js/jquery-scrollto.js')
		// History.js
		script(src='js/jquery.history.js')
		//
			Ajaxify
			<script src="//rawgithub.com/browserstate/ajaxify/master/ajaxify-html5.js"></script>
		// nanobar
		script(src='js/nanobar.min.js')
		// Ajaxify
		script(src='js/ajaxify.js')
		|       
		script(src='js/jquery.simpleLens.js')
		|       
		script(type='text/javascript', src='js/script.js')
