// footer
footer#aa-footer
	// footer bottom
	.aa-footer-top
		div
			.row.nomargin
				.col-md-10.col-md-offset-1
					.aa-footer-top-area
						.row.nomargin
							.col-md-3.col-sm-6
								.aa-footer-widget
									h3 Main Menu
									|                                     
									ul.aa-footer-nav
										li
											a(href='#') Home
										|                                        
										li
											a(href='#') Our Services
										|                                        
										li
											a(href='#') Our Products
										|                                        
										li
											a(href='#') About Us
										|                                        
										li
											a(href='#') Contact Us
							|                               
							.col-md-3.col-sm-6
								.aa-footer-widget
									.aa-footer-widget
										h3 Knowledge Base
										|                                        
										ul.aa-footer-nav
											li
												a(href='#') Delivery
											|                                           
											li
												a(href='#') Returns
											|                                           
											li
												a(href='#') Services
											|                                           
											li
												a(href='#') Discount
											|                                           
											li
												a(href='#') Special Offer
							|                               
							.col-md-3.col-sm-6
								.aa-footer-widget
									.aa-footer-widget
										h3 Useful Links
										|                                        
										ul.aa-footer-nav
											li
												a(href='#') Site Map
											|                                           
											li
												a(href='#') Search
											|                                           
											li
												a(href='#') Advanced Search
											|                                           
											li
												a(href='#') Suppliers
											|                                           
											li
												a(href='#') FAQ
							|                               
							.col-md-3.col-sm-6
								.aa-footer-widget
									.aa-footer-widget
										h3 Contact Us
										|                                        
										address
											p  25 Astor Pl, NY 10003, USA
											|                                           
											p
												span.glyphicon.glyphicon-earphone
												| +1 212-982-4589
											|                                           
											p
												span.glyphicon.glyphicon-envelope
												| dailyshop@gmail.com
										//
											<div class="aa-footer-social">
											<a href="#"><span class="fa fa-facebook"></span></a>
											<a href="#"><span class="fa fa-twitter"></span></a>
											<a href="#"><span class="fa fa-google-plus"></span></a>
											<a href="#"><span class="fa fa-youtube"></span></a>
											</div>
// footer ends