meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='')
meta(name='author', content='')
meta(http-equiv="Cache-control" content="no-cache")
title Read and Share your favourite books
// Adding custom font family
link(href='https://fonts.googleapis.com/css?family=Open+Sans:600', rel='stylesheet')
//bootstrap css
link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")  
link(rel="stylesheet", href="bower_components/PACE/themes/blue/pace-theme-minimal.css")
link(rel="stylesheet", href="/bower_components/slick-carousel/slick/slick-theme.css")
//- bower:css
link(rel="stylesheet", href="/bower_components/slick-carousel/slick/slick.css")
//- endinject

//- inject:css
link(rel="stylesheet", href="/css/jquery.simpleLens.css")
link(rel="stylesheet", href="/css/style.css")
//- endinject