
//- bower:js
script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
script(src="/bower_components/PACE/pace.js")
script(src="/bower_components/slick-carousel/slick/slick.js")
//- endinject
//- inject:js
script(src="/js/generic-settings.js")
script(src="/js/jquery-scrollto.js")
script(src="/js/jquery.history.js")
script(src="/js/jquery.simpleLens.js")
script(src="/js/login.js")
script(src="/js/script.js")
//- endinject
script(src="/js/ajaxify.js")
