doctype
html
	head
		include head-includes_partial.jade
	body
		include navbar_partial.jade
		include modal-login_partial.jade
		// Page Content
		.container-fluid.site-background
			.row.nomargin
			#main-content-outer.col-md-12.col-sm-12.nopadding
				.row.nomargin.nopadding
					block bodycontent
			include footer_partial.jade			
		include js-includes_partial.jade
			