// Navigation
nav.navbar.navbar-default.navbar-fixed-top.hidden-xs.visible-sm.visible-md.visible-lg.cstm-no-margin.desktop-only(role='navigation')
	.container
		// Brand and toggle get grouped for better mobile display
		.navbar-header
			a#logo.navbar-brand.ajaxify(href='/') Pustakk
		// Collect the nav links, forms, and other content for toggling
		#navbar-collapsable.navbar-collapse.collapse
			ul.nav.navbar-nav
				li
					form.navbar-form(role='search')
						#cstm-nav-searchbar.input-group
							input.form-control(type='text', placeholder='Search', name='q')
							.input-group-btn
								button.btn.btn-default(type='submit')
									i.glyphicon.glyphicon-search
			ul.nav.navbar-nav.navbar-right
				li
					p.navbar-btn
						a(href='#')
							button.btn.btn-default(type='button') Add a Book
				if user&&user.name
					// /.dropdown
					li.dropdown.verified_user_links
						a.dropdown-toggle(data-toggle='dropdown', href='#')
							i.username #{(user && user.name)?user.name:''}
							i.caret
						ul.dropdown-menu.dropdown-user
							li
								div
									i.glyphicon.glyphicon-user
									i &nbsp;Profile
							li.divider
							li
								#logout
									i.glyphicon.glyphicon-log-out
									i &nbsp;Logout
					// /.dropdown
				else
					li
						a#signin_desktop.no-ajaxy.btn(data-toggle='modal', href='#login-modal') Sign In
				
		// /.navbar-collapse
	// /.container
nav.navbar.navbar-default.navbar-fixed-top.visible-xs.hidden-sm.hidden-md.hidden-lg.cstm-no-margin.mobile-only(role='navigation')
	.container
		// Brand and toggle get grouped for better mobile display
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapsable-mobile')
				span.sr-only Toggle navigation
				|                
				span.icon-bar
				|                
				span.icon-bar
				|                
				span.icon-bar
			|             
			a.navbar-brand.ajaxify(href='/') Pustakk
			|             
			a#signin_mobile.no-ajaxy.btn.navbar-brand(data-toggle='modal', href='#login-modal') Sign In
		// Collect the nav links, forms, and other content for toggling
		#navbar-collapsable-mobile.navbar-collapse.collapse
			ul.nav.navbar-nav
				li
					form.navbar-form(role='search')
						.input-group
							input.form-control(type='text', placeholder='Search', name='q')
							|                         
							.input-group-btn
								button.btn.btn-default(type='submit')
									i.glyphicon.glyphicon-search
			|             
			ul.mobile-navigation-list
				li
					p.navbar-btn
						a(href='#')
							button.btn.btn-default(type='button') Add a Book
				|                
				li
					a(href='#') Sign In
		// /.navbar-collapse
	// /.container
// End Navigation
