// Page Content
#section_row.row
	// Cart view section
	section#checkout
		.container
			.row
				.col-md-12
					.checkout-area
						form(action='')
							.row
								.col-md-8
									.checkout-left
										#accordion.panel-group
											// book details section
											.panel.panel-default.aa-checkout-book-details
												.panel-heading
													h4.panel-title.row
														.col-md-3(data-toggle='collapse', data-parent='#accordion')
															| Book
												#step-1.panel-collapse(class="#{(user && user.name)?'':'in'}")
													.panel-body
														.row
															.col-md-2
																.book-cover
																	img.cover_image_thumb(src='#{bookinfo.cover_image}')
															.col-md-8
																h3 !{bookinfo.title}
																.aa-price-block
																	span.aa-product-view-price  !{bookinfo.author}
											// Billing Details
											.panel.panel-default.aa-checkout-billaddress
												.panel-heading
													h4.panel-title
														div(data-toggle='collapse', data-parent='#accordion')
															| Billing Details
												#step-2.panel-collapse.collapse(class="#{(user && user.name)?'in':''}")
													.panel-body
														.row
															.col-md-6
																.aa-checkout-single-bill
																	input(type='text', placeholder='First Name*')
															.col-md-6
																.aa-checkout-single-bill
																	input(type='text', placeholder='Last Name*')
														//- .row
														//- 	.col-md-12
														//- 		.aa-checkout-single-bill
														//- 			input(type='text', placeholder='Company name')
														.row
															//- .col-md-6
															//- 	.aa-checkout-single-bill
															//- 		input(type='email', placeholder='Email Address*')
															.col-md-6
																.aa-checkout-single-bill
																	input(type='tel', placeholder='Phone*')
														.row
															.col-md-12
																.aa-checkout-single-bill
																	textarea(placeholder='Address*')
														//- .row
														//- 	.col-md-12
														//- 		.aa-checkout-single-bill
														//- 			select
														//- 				option(value='0') Select Your Country
														//- 				option(value='1') Australia
														//- 				option(value='2') Afganistan
														//- 				option(value='3') Bangladesh
														//- 				option(value='4') Belgium
														//- 				option(value='5') Brazil
														//- 				option(value='6') Canada
														//- 				option(value='7') China
														//- 				option(value='8') Denmark
														//- 				option(value='9') Egypt
														//- 				option(value='10') India
														//- 				option(value='11') Iran
														//- 				option(value='12') Israel
														//- 				option(value='13') Mexico
														//- 				option(value='14') UAE
														//- 				option(value='15') UK
														//- 				option(value='16') USA
														.row
															//- .col-md-6
															//- 	.aa-checkout-single-bill
															//- 		input(type='text', placeholder='Appartment, Suite etc.')
															.col-md-6
																.aa-checkout-single-bill
																	input(type='text', placeholder='City*')
															.col-md-6
																.aa-checkout-single-bill
																	input(type='text', placeholder='Postcode / ZIP*')
								.col-md-4
									.checkout-right
										h4 Order Summary
										.aa-order-summary-area
											table.table.table-responsive
												thead
													tr
														th Product
														th Amount
												tbody
													tr
														td 
															|Delivery Charges
														td 150
													tr
														td
															| Previous Dues
														td 250
													tfoot
														//- tr
														//- 	th Subtotal
														//- 	td $750
														//- tr
														//- 	th Tax
														//- 	td $35
														tr
															th Total
															td 785
										h4 Payment Method
										.aa-payment-method
											label(for='cashdelivery')
												input#cashdelivery(type='radio', name='optionsRadios',checked='checked')
												|  Cash on Delivery
											//- label(for='paypal')
											//- 	input#paypal(type='radio', name='optionsRadios', checked='')
											//- 	|  Via Paytm
											//- img(src='https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg', border='0', alt='PayPal Acceptance Mark')
											input.aa-browse-btn(type='submit', value='Place Order')
	// / Cart view section
