// Page Content
#section_row.row
	// SCROLL TOP BUTTON
	a.scrollToTop(href='#')
		i.fa.fa-chevron-up
	// END SCROLL TOP BUTTON
	// catg header banner section
	section#aa-catg-head-banner
		.aa-catg-head-banner-area
			.container
				.aa-catg-head-banner-content
					ol.breadcrumb
						li
							a(href='index.html') Home
						li
							a(href='#') Business, Strategy &amp; Management
						// <li class="active">T-shirt</li>
	// / catg header banner section
	// product category
	section#aa-product-details
		.container
			.row
				.col-md-12
					.aa-product-details-area
						.aa-product-details-content
							.row
								// Modal view slider
								.col-md-5.col-sm-5.col-xs-12
									.aa-product-view-slider
										#demo-1.simpleLens-gallery-container
											.simpleLens-container
												.simpleLens-big-image-container
													a.simpleLens-lens-image(data-lens-image='#{bookinfo.cover_image}')
														img.simpleLens-big-image(src='#{bookinfo.cover_image}')
								// Modal view content
								.col-md-7.col-sm-7.col-xs-12
									.aa-product-view-content
										//~ below is the unescaped interpolation
										h3 !{bookinfo.title}
										.aa-price-block
											span.aa-product-view-price  !{bookinfo.author}
										p.aa-product-avilability
											| Avilability: 
											span !{bookinfo.availability}
										p.no-of-pages
											| Pages: 
											span !{bookinfo.page_count}
										p.isbn
											| ISBN: 
											span !{bookinfo.isbn}
										.aa-prod-view-bottom
											a.aa-add-to-cart-btn(href='checkout?it=#{bookinfo.id}') Get It Now
											a.aa-add-to-cart-btn(href='#') Join Waiting List
											//- a.aa-add-to-cart-btn(href='#') Add To Cart
						.aa-product-details-bottom
							ul#myTab2.nav.nav-tabs
								li.active
									a(href='#description', data-toggle='tab') Description
								li
									a(href='#review', data-toggle='tab') Reviews
							// Tab panes
							.tab-content
								#description.tab-pane.fade.in.active
									!{bookinfo.description}
								#review.tab-pane.fade
									.aa-product-review-area
										h4 2 Reviews for T-Shirt
										ul.aa-review-nav
											li
												.media
													.media-left
														a(href='#')
															img.media-object(src='img/testimonial-img-3.jpg', alt='girl image')
													.media-body
														h4.media-heading
															strong Marla Jobs
															|  - 
															span March 26, 2016
														.aa-product-rating
															span.fa.fa-star
															span.fa.fa-star
															span.fa.fa-star
															span.fa.fa-star
															span.fa.fa-star-o
														p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
											li
												.media
													.media-left
														a(href='#')
															img.media-object(src='img/testimonial-img-3.jpg', alt='girl image')
													.media-body
														h4.media-heading
															strong Marla Jobs
															|  - 
															span March 26, 2016
														.aa-product-rating
															span.fa.fa-star
															span.fa.fa-star
															span.fa.fa-star
															span.fa.fa-star
															span.fa.fa-star-o
														p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										h4 Add a review
										.aa-your-rating
											p Your Rating
											a(href='#')
												span.fa.fa-star-o
											a(href='#')
												span.fa.fa-star-o
											a(href='#')
												span.fa.fa-star-o
											a(href='#')
												span.fa.fa-star-o
											a(href='#')
												span.fa.fa-star-o
										// review form
										form.aa-review-form(action='')
											.form-group
												label(for='message') Your Review
												textarea#message.form-control(rows='3')
											.form-group
												label(for='name') Name
												input#name.form-control(type='text', placeholder='Name')
											.form-group
												label(for='email') Email
												input#email.form-control(type='email', placeholder='example@gmail.com')
											button.btn.btn-default.aa-review-submit(type='submit') Submit
	// / product category