<div id="bookinfo_form" class="container" ng-if="!mNewForm">
	<table class="table table-bordered table-hover table-condensed">
		<tr>
			<th>ID</th>
			<td class="col-md-8 col-lg-8" colspan="2">
				<span editable-text="bookinfo.id" e-form="titleform" e-formclass="col-md-9 col-lg-9" e-name="id" edit-disabled="true" >
					{{ bookinfo.id || 'empty' }}
				</span>
			</td>
		</tr>

		<tr ng-repeat="prop in bookprops">  
			<th class="col-md-3 col-lg-3">
				{{prop.displayname}}
			</th>
			<td class="col-md-7 col-lg-7" ng-if="prop.name!=='description' && prop.name!=='categories'">
				<span editable-text="bookinfo[prop.name]" e-formclass="col-md-9 col-lg-9" e-name="{{prop.name}}" e-form="rowform" >
					{{ bookinfo[prop.name] || 'empty' }}
				</span>
			</td>
			<td class="col-md-7 col-lg-7" ng-if="prop.name==='description'">
				<span editable-textarea="bookinfo.description" e-formclass="col-md-9 col-lg-9" e-name="description" e-form="rowform" e-rows="20" e-cols="1000">
					{{ bookinfo[prop.name] || 'empty' }}
				</span>
			</td>
			<td class="col-md-7 col-lg-7" ng-if="prop.name==='categories'">
				<span editable-checklist="bookinfo.categories" e-formclass="col-md-8 col-lg-8" e-class="categories" e-ng-options="c as c.name for c in book.categories" e-name="categories" e-form="rowform">
					{{showCategories()}}
				</span>
			</td>
			<td class="col-md-2 col-lg-2" style="white-space: nowrap">
				<!-- form -->
				<form editable-form name="rowform" onbeforesave="saveFormField($data,prop.name,bookinfo.id)" ng-show="rowform.$visible" class="form-buttons form-inline">
				<div class="btn-group-wrap">
				<div class="btn-group center-block">
					<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
						save
					</button>
					<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
						cancel
					</button>
				</div>	
				</div>
				</form>
				<div class="buttons" ng-show="!rowform.$visible">
					<button type="button" class="btn btn-primary center-block" ng-click="rowform.$show()">edit</button>
					<!-- <button type="button" class="btn btn-danger" ng-click="removeUser($index)">del</button> -->
				</div>  
			</td>
		</tr>
	</table>
	<a class="btn btn-primary" ng-href="/bookinfo">Home</a>
	<a class="btn btn-success" ng-href="/bookinfo/add">Add new book Info</a>
</div>

