#login-page.container.container-table
	.row.vertical-center-row
		.col-xs-4.col-xs-offset-4
			a.brand-logo.ajaxify(href='/') Pustakk
		.col-xs-4.col-xs-offset-4
			.login-box
				// Begin # DIV Form
				#div-forms
					// Begin # Login Form
					form#login-form(action='/api/user/login', method='post')
						.modal-body
							#div-login-msg
								#icon-login-msg.glyphicon.glyphicon-chevron-right
								span#text-login-msg Login
							input#login_username.form-control(type='text', placeholder='Email/Mobile', required='')
							input#login_password.form-control(type='password', placeholder='Password', required='')
							.checkbox
								label
									input(type='checkbox')
									|  Remember me
						.modal-footer
							div
								button.btn.btn-primary.btn-lg.btn-block(type='submit')
									| Login
									.ripples.buttonRipples
										span.ripplesCircle
							div
								button#login_lost_btn.btn.btn-link(type='button') Lost Password?
								button#login_register_btn.btn.btn-link(type='button') Register
					// End # Login Form
					// Begin | Lost Password Form
					form#lost-form(style='display:none;')
						.modal-body
							#div-lost-msg
								#icon-lost-msg.glyphicon.glyphicon-chevron-right
								span#text-lost-msg Type your e-mail/mobile.
							input#lost_email.form-control(type='text', placeholder='E-Mail/Mobile', required='')
						.modal-footer
							div
								button.btn.btn-primary.btn-lg.btn-block(type='submit') Send
							div
								button#lost_login_btn.btn.btn-link(type='button') Log In
								button#lost_register_btn.btn.btn-link(type='button') Register
					// End | Lost Password Form
					// Begin | Register Form
					form#register-form(style='display:none;')
						.modal-body
							#div-register-msg
								#icon-register-msg.glyphicon.glyphicon-chevron-right
								span#text-register-msg Register an account.
							input#register_username.form-control(type='text', placeholder='Mobile', required='')
							input#register_email.form-control(type='text', placeholder='E-Mail', required='')
							input#register_password.form-control(type='password', placeholder='Password', required='')
						.modal-footer
							div
								button.btn.btn-primary.btn-lg.btn-block(type='submit') Register
							div
								button#register_login_btn.btn.btn-link(type='button') Log In
								button#register_lost_btn.btn.btn-link(type='button') Lost Password?
					// End | Register Form
				// End # DIV Form