doctype
html
	head
		link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css") 
		link(rel="stylesheet", href="/css/style.css") 
		script(src="/bower_components/jquery/dist/jquery.js")
		script(src='/js/login.js')
	body
		// Page Content
		.container-fluid
			.row.nomargin
			#main-content-outer.col-md-12.col-sm-12.nopadding
				.row.nomargin.nopadding
					include login_partial.jade
		//include ../common/js-includes_partial.jade
			
